@model             ForgotPasswordViewModel
@{
    Layout = "_Layout2";
}
<div class="container">
    <h4>Сброс пароля</h4>
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
        <hr />
        <div class="form-row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="m-3 form-group col-md-6 text-danger" data-valmsg-summary="true">
                <label asp-for="Email" class="mb-2 control-label text-dark">Email</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <input type="submit" class="m-3 btn btn-primary mt-3" value="Отправить письмо" />
        </div>
    </form>
</div>