@{
    Layout = "_Layout2";
}
<div class="mt-5 container">
    <h2>Спасибо!</h2>
    <p>Спасибо за выбор нашего магазина. Заказ в кратчайшие сроки будет обработан и отправлен в службу доставки.</p>
</div>

